[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/ware/phx/Pomodoro/pomodoro
Name=Pomodoro
Icon=/ware/phx/Pomodoro/icon.png
