[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/ware/phx/pomodoro/pomodoro
Name=Pomodoro
Icon=/ware/phx/pomodoro/icon.png
